body {
  margin: 10px 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  text-align: center;
}

h1 {
  color: #0ec4e9;
  font-weight: 400;
  text-transform: uppercase;
}
h2 {
  margin: 0 auto;
}
.today {
  margin: 8px 0px;
}
.city {
  line-height: 15px;
  text-align: left;
}
.location {
  text-transform: uppercase;
  text-align: center;
}
.search {
  text-align: left;
}
.form-control {
  padding: 16px;
  font-size: 20px;
}
.weather-today {
  font-size: 30px;
}

.days {
  margin: 0px 2px;

  text-align: center;
}
.fas {
  font-size: 35px;
}
.card-header {
  font-size: 17px;
  font-weight: 900;
}
.btn-info {
  margin: 0px 0px 16px 0px;
}

.weather-icon {
  text-align: center;
  margin: 0 auto;
  color: #0ec4e9;
}
.weather-today {
  font-size: 80px;
  line-height: 100px;
}

h5 {
  text-align: center;
  font-style: italic;
  font-size: 20px;
}
.temperature {
  font-size: 30px;
  font-style: normal;
}

.tempUnits {
  font-size: 30px;
  font-style: normal;
}
.open-source {
  text-align: left;
  margin: 0px 15px;
}
.git-hub,
.linkedin {
  text-decoration: none;
  font-weight: 400;
}
.git-hub:hover,
.linkedin:hover {
  text-decoration: underline;
}
